<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetOldestAgentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetOldestAgentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAgentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddAgentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAgentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllAgentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgentsPerGenderServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAgentsPerGenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMarriedAgentsPerGenderServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetMarriedAgentsPerGenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgentsPerAgeRangeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAgentsPerAgeRangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOldestAgentServlet</servlet-name>
        <url-pattern>/GetOldestAgentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAgentServlet</servlet-name>
        <url-pattern>/AddAgentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAgentsServlet</servlet-name>
        <url-pattern>/GetAllAgentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAgentsPerGenderServlet</servlet-name>
        <url-pattern>/GetAgentsPerGenderServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMarriedAgentsPerGenderServlet</servlet-name>
        <url-pattern>/GetMarriedAgentsPerGenderServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAgentsPerAgeRangeServlet</servlet-name>
        <url-pattern>/GetAgentsPerAgeRangeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
